.formContainer {
  display: flex;
  justify-content: center;
}

.newsletterForm {
  background-color: #fff;

  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-top: 24px;
  padding: 4px;
  border-radius: 8px;
}

.emailInput {
  padding: 10px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.submitButton {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:disabled {
  background-color: #a3a6aa;
  cursor: not-allowed;
}

.submitButton:hover:enabled {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .emailInput {
    padding: 2px;
    margin-right: 0px;
  }
  .submitButton {
    white-space: nowrap;
    padding: 8px 16px;
  }
}
